.tablecss {
  padding-left: 15px;
  padding-right: 15px;
}

.buttoncss {
  width: fit-content;
  left: 20%;
  /* position: absolute; */
}
.table {
  min-width: 450;
}

.home {
  left: 20%;
  right: 20%;
  text-align: center;
  position: absolute;
  padding-bottom: 60px;
}
.note {
  color: red;
}
.info {
  font-size: 18px;
  color: rgb(16, 206, 32);
  /* text-align: left !important; */
}
